.benefits {
    margin-bottom: 172px;
    text-align: center;
}

.benefits__heading {
    margin-bottom: 58px;
    
}

.benefits__row {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    
}