.img-card {
    margin-right: 32px;
    position: relative;
    width: 385px;
}
.img-card__thumb {
    border-radius: 20px 20px 0 20px;
    .img-card--rounded & {
        border-radius: 20px;
    }
}
.img-card__info{
    position: absolute;
    bottom: 87px;
    right: -46px;
}