.logo {
    
}
.logo-link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: $fwbold;
    font-size: 24px;
    line-height: 36px;
    color: $cl;
    
}
.logo-img {
    margin-right: 10px;
    
}